{% extends "base.html" %}

{% block title %}Search Timesheet{% endblock %}

{% block content %}



<form method="GET">
    <table>
        <tr>
            <td>search: <input type="text" id="searchText" name="searchText" size="60"> </td>
            <td><button type="submit">Search</button></td>
        </tr>
    </table>
</form>

<br><br>


{% if searchResults %}
<table>
    There are {{ searchResults|length }} record(s):
    {% for searchResult in searchResults %}
        <tr><td><a href="/timesheets/{{searchResult.id}}">{{searchResult.notes|safe}}</a></td></tr>
    {% endfor %}
</table>
{% else %}
    There are 0 records:
{% endif %}
 


{% endblock %}
